<header id="site-header" class="header-one dyn-styles wpex-relative wpex-clr" itemscope="itemscope"
    itemtype="https://schema.org/WPHeader">
    <div id="site-header-inner"
        class="header-one-inner header-padding container wpex-relative wpex-h-100 wpex-py-30 wpex-clr">
        <div id="site-logo" class="site-branding header-one-logo logo-padding wpex-table">
            <div id="site-logo-inner" class="wpex-table-cell wpex-align-middle wpex-clr"><a id="site-logo-link"
                    href="https://total.wpexplorer.com/olivia/" rel="home" class="site-logo-text">Olivia</a></div>
        </div>
        <div id="site-navigation-wrap"
            class="navbar-style-one navbar-fixed-height navbar-fixed-line-height wpex-dropdowns-caret wpex-stretch-megamenus hide-at-mm-breakpoint wpex-clr">
            <nav id="site-navigation" class="navigation main-navigation main-navigation-one wpex-clr"
                itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" aria-label="Main menu">
                <ul id="menu-main"
                    class="main-navigation-ul dropdown-menu wpex-dropdown-menu wpex-dropdown-menu--onhover">
                    <li id="menu-item-24"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-24"><a
                            href="https://total.wpexplorer.com/olivia/category/fashion/"><span
                                class="link-inner">Fashion</span></a></li>
                    <li id="menu-item-28"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-28"><a
                            href="https://total.wpexplorer.com/olivia/category/food/"><span
                                class="link-inner">Food</span></a></li>
                    <li id="menu-item-25"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a
                            href="https://total.wpexplorer.com/olivia/category/photography/"><span
                                class="link-inner">Photography</span></a></li>
                    <li id="menu-item-614"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-614"><a
                            href="https://total.wpexplorer.com/olivia/category/fitness/"><span
                                class="link-inner">Fitness</span></a></li>
                    <li id="menu-item-27"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-27"><a
                            href="https://total.wpexplorer.com/olivia/category/travel/"><span
                                class="link-inner">Travel</span></a></li>
                    <li class="search-toggle-li menu-item wpex-menu-extra no-icon-margin"><a href="#"
                            class="site-search-toggle search-overlay-toggle" role="button" aria-expanded="false"
                            aria-controls="wpex-searchform-overlay" aria-label="Search"><span class="link-inner"><span
                                    class="wpex-menu-search-text">Search</span><span
                                    class="wpex-menu-search-icon ticon ticon-search"
                                    aria-hidden="true"></span></span></a></li>
                </ul>
            </nav>
        </div>
        <div id="mobile-menu"
            class="wpex-mobile-menu-toggle show-at-mm-breakpoint wpex-flex wpex-items-center wpex-absolute wpex-top-50 -wpex-translate-y-50 wpex-right-0">
            <div class="wpex-inline-flex wpex-items-center">
                <a href="#" class="mobile-menu-toggle" role="button" aria-label="Toggle mobile menu"
                    aria-expanded="false"><span class="mobile-menu-toggle__icon wpex-flex"><span
                            class="wpex-hamburger-icon wpex-hamburger-icon--inactive wpex-hamburger-icon--animate"
                            aria-hidden="true"><span></span></span></span></a>
            </div>
        </div>
    </div>
</header>