<footer id="footer-builder" class="footer-builder" itemscope="itemscope" itemtype="https://schema.org/WPFooter"
    style="background-color: black !important;">
    <div class="footer-builder-content container entry wpex-clr">
        <div
            class="vc_row wpb_row vc_row-fluid vc_custom_1642281589068 wpex-vc_row-has-fill wpex-vc-reset-negative-margin wpex-vc-full-width-row wpex-vc-full-width-row--centered">
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vcex-heading vcex-module wpex-text-2xl wpex-font-normal wpex-m-auto wpex-max-w-100 vcex-heading-plain wpex-block wpex-mb-20"
                            style="color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 18px;">
                            <span class="vcex-heading-inner wpex-inline-block wpex-clr">About Me</span>
                        </div>
                        <div style="color:rgba(255,255,255,0.6);"
                            class="wpb_text_column has-custom-color wpex-child-inherit-color wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>Aliquam molestie ligula vitae nunc lobortis dictum varius tellus
                                    porttitor. Suspendisse vehicula diam a ligula malesuada a pellentesque
                                    turpis facilisis. Vestibulum a urna elit. Nulla bibendum dolor suscipit
                                    tortor euismod eu laoreet odio facilisis.</p>
                            </div>
                        </div>
                        <div class="vcex-spacing wpex-w-100 wpex-clear"></div>
                        <div style="color:rgba(255,255,255,0.6);"
                            class="wpb_text_column has-custom-color wpex-child-inherit-color wpb_content_element ">
                            <div class="wpb_wrapper">
                                <p>Copyright 2023 &#8211; <span class="white-text"><a href="#">privacy
                                            policy</a></span> | <span class="white-text"><a
                                            href="https://total.wpexplorer.com/olivia/contact/">contact</a></span>
                                </p>
                            </div>
                        </div>
                        <div class="vcex-spacing wpex-w-100 wpex-clear"></div>
                        <div
                            class="vcex-social-links vcex-module wpex-flex wpex-items-center wpex-flex-wrap wpex-social-btns vcex-social-btns wpex-gap-5 wpex-last-mr-0 vcex_643a4acf2fe9c">
                            <a href="#"
                                class="vcex-social-links__item wpex-social-btn wpex-social-btn-no-style wpex-has-custom-color wpex-twitter"
                                title="Twitter"><span class="vcex-social-links__icon ticon ticon-twitter"
                                    aria-hidden="true"></span><span class="screen-reader-text">Twitter</span></a><a
                                href="#"
                                class="vcex-social-links__item wpex-social-btn wpex-social-btn-no-style wpex-has-custom-color wpex-instagram"
                                title="Instagram"><span class="vcex-social-links__icon ticon ticon-instagram"
                                    aria-hidden="true"></span><span class="screen-reader-text">Instagram</span></a><a
                                href="#"
                                class="vcex-social-links__item wpex-social-btn wpex-social-btn-no-style wpex-has-custom-color wpex-tiktok"
                                title="Tiktok"><span class="vcex-social-links__icon ticon ticon-tiktok"
                                    aria-hidden="true"></span><span class="screen-reader-text">Tiktok</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wpb_column vc_column_container vc_col-sm-6">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="vcex-heading vcex-module wpex-text-2xl wpex-font-normal wpex-m-auto wpex-max-w-100 vcex-heading-plain wpex-block wpex-mb-20"
                            style="color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 18px;">
                            <span class="vcex-heading-inner wpex-inline-block wpex-clr">Popular
                                Articles</span>
                        </div>
                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                            <div class="wpb_wrapper">
                            </div>
                        </div>
                        <div class="wpex-post-cards wpex-post-cards-simple_1 footer-post-cards wpex-relative">
                            <div class="wpex-post-cards-inner">
                                <div
                                    class="wpex-post-cards-loop wpex-post-cards-list wpex-grid wpex-grid-cols-1 wpex-gap-15">
                                    <div
                                        class="wpex-post-cards-entry post-113 type-post cat-5 cat-23 cat-6 cat-3 cat-2 post_tag-7 post_tag-8 post_tag-9 post_tag-10 post_tag-11 post_tag-12">
                                        <div class="wpex-card wpex-card-simple_1">
                                            <div class="wpex-card-date wpex-mb-5 wpex-text-3">September 18,
                                                2012</div>
                                            <h2 class="wpex-card-title wpex-heading wpex-text-lg wpex-mb-15">
                                                <a
                                                    href="https://total.wpexplorer.com/olivia/tips-for-staying-on-track-with-your-health-exercise-routines-while-on-vacation/">Tips
                                                    for Staying on Track with Your Health &#038; Exercise
                                                    Routines While on Vacation</a>
                                            </h2>
                                            <div class="wpex-card-excerpt wpex-last-mb-0">
                                                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper
                                                    non. Curabitur tristique velit eu mauris
                                                    venenatis&hellip;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="wpex-post-cards-entry post-151 type-post cat-5 cat-23 cat-6 cat-3 cat-2 post_tag-7 post_tag-8 post_tag-9 post_tag-10 post_tag-11 post_tag-12">
                                        <div class="wpex-card wpex-card-simple_1">
                                            <div class="wpex-card-date wpex-mb-5 wpex-text-3">September 18,
                                                2012</div>
                                            <h2 class="wpex-card-title wpex-heading wpex-text-lg wpex-mb-15">
                                                <a
                                                    href="https://total.wpexplorer.com/olivia/a-trip-to-skatepark-los-reyes/">A
                                                    trip to Skatepark Los Reyes</a>
                                            </h2>
                                            <div class="wpex-card-excerpt wpex-last-mb-0">
                                                <p>Morbi vulputate egestas sem, eu cursus ligula ullamcorper
                                                    non. Curabitur tristique velit eu mauris
                                                    venenatis&hellip;</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>